.answers {
  backdrop-filter: blur(20px);
  border-radius: 5px;
  overflow: hidden;

  border: 1px solid var(--primary-color);
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  margin-bottom: var(--default-bottom-margin);
}